<table>
  <tr>
    <th>Nombre</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </tr>

  <%= render :partial => 'designer', :collection => @designers %>
</table>

<p><%= link_to 'Añadir un nuevo diseñador', :action => 'new' %></p>